<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>Gems Audit</title>
  </head>
  <body>
    <table class="table table-hover table-bordered text-center">
      <thead>
        <tr>
          <th scope="col" style="width: 5%">#</td>
          <th scope="col" class="text-left" style="width: 20%">Gem</td>
          <th scope="col" style="width: 10%">Version</td>
          <th scope="col" style="width: 15%">Ruby 3.2</td>
          <th scope="col" style="width: 15%">Ruby 3.3</td>
          <th scope="col" style="width: 15%">Ruby 3.4</td>
          <th scope="col" style="width: 20%">CI</td>
        </tr>
      </thead>
      <tbody>
        <% dependencies.each.with_index do |dependency, index| %>
          <tr>
            <th scope="row"><%= index %></th>
            <td class="text-left">
              <% if dependency.source_url_host.nil? %>
                <%= dependency.name %>
              <% elsif ['gitlab.com', 'github.com'].include?(dependency.source_url_host) %>
                <a href="<%= dependency.source_url %>"><%= dependency.name %></a>
              <% else %>
                <%= dependency.name %> (<a href="<%= dependency.source_url %>"><%= dependency.source_url_host %></a>)
              <% end %>
            </td>
            <td><%= dependency.version %></td>
            <% ['3.2', '3.3', '3.4'].each do |version| %>
              <% build = dependency.ci_files.build_for(version) %>

              <% if build.current? %>
                <td class="table-success" data-toggle="tooltip" title="Current version contains CI build 🎉"> Y </td>
              <% else %>
                <% if build.upstream? %>
                  <td class="table-warning" data-toggle="tooltip" title="Exists upstream, upgrade to a newer version"> N </td>
                <% elsif dependency.vendored? %>
                  <td class="table-info" data-toggle="tooltip" title="Vendored, CI Ruby versions added directly"> Y </td>
                <% else %>
                  <td class="table-danger" data-toggle="tooltip" title="Does not yet exist upstream"> N </td>
                <% end %>
              <% end %>
            <% end %>
            <% if dependency.ci_files.files.any? %>
              <td class="text-left">
                <% id = "upstream-ci-files-#{dependency.name}" %>

                <a data-toggle="collapse" href="#<%= id %>" aria-expanded="false" aria-controls="<%= id %>">
                  Expand
                </a>

                <div class="collapse" id="<%= id %>">
                  <% dependency.ci_files.files.each do |file| %>
                    <li>
                      <%= file.name %>
                      <ul>
                        <li>
                          <a href=<%= file.url %>>Upstream</a>: <%= file.ruby_versions %>
                        </li>

                        <% if file.current_ruby_versions.any? %>
                          <li>
                            <a href=<%= file.current_url %>>Current</a>: <%= file.current_ruby_versions %>
                          </li>
                        <% end %>
                      </ul>
                    </li>
                  <% end %>
                </div>
              </td>
            <% else %>
              <% if dependency.vendored? %>
                <td class="table-info">Vendored</td>
              <% else %>
                <td class="table-warning">The upstream library does not have CI setup. It may require running tests manually to verify compatibility with a Ruby version</td>
              <% end %>
            <% end %>
          </tr>
        <% end %>
      </tbody>
    </table>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

    <script>
      $(function () {
        $('[data-toggle="tooltip"]').tooltip()
      })
    </script>
  </body>
</html>
